<ng-container [ngSwitch]="element.controlType">
    <div class="form-item" *ngSwitchCase="'text'">
        <nz-form-item>
            <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
            <nz-form-control [nzSpan]="16">
                <input nz-input [ngModel]="element.value" [name]="element.key" [id]="element.key"
                    [required]="element.required" [placeholder]="element.placeholder" />
            </nz-form-control>
        </nz-form-item>
        <span class="dynamic-delete-button" (click)="$event.preventDefault();"><i class="fa fa-minus-circle"></i></span>
    </div>

    <div class="form-item" *ngSwitchCase="'number'">
        <nz-form-item>
            <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-input-number [ngModel]="element.value" [required]="element.required" [name]="element.key"
                    [id]="element.key" [nzMin]="element.min" [nzMax]="element.max" [nzStep]="element.step">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <span class="dynamic-delete-button"><i class="fa fa-minus-circle"></i></span>
    </div>

    <div class="form-item" *ngSwitchCase="'radio'">
        <nz-form-item>
            <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-radio-group [ngModel]="element.value" [name]="element.key" [id]="element.key">
                    <label nz-radio [nzValue]="op.key" *ngFor="let op of element.options">{{op.value}}</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <span class="dynamic-delete-button"><i class="fa fa-minus-circle"></i></span>
    </div>

    <div class="form-item" *ngSwitchCase="'checkbox'">
        <nz-form-item>
            <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-checkbox-wrapper style="width: 100%;">
                    <div nz-row>
                        <div nz-col nzSpan="8" *ngFor="let item of element.options; let key = index">
                            <label nz-checkbox [nzValue]="item.key" [ngModel]="item.checked">{{item.value}}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </nz-form-control>
        </nz-form-item>
        <span class="dynamic-delete-button"><i class="fa fa-minus-circle"></i></span>
    </div>

    <div class="form-item" *ngSwitchCase="'textarea'">
        <nz-form-item>
            <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
            <nz-form-control [nzSpan]="16">
                <textarea rows="4" nz-input [ngModel]="element.value" [name]="element.key" [id]="element.key"
                    [required]="element.required" [placeholder]="element.placeholder"></textarea>
            </nz-form-control>
        </nz-form-item>
        <span class="dynamic-delete-button"><i class="fa fa-minus-circle"></i></span>
    </div>

    <div class="form-item" *ngSwitchCase="'select'">
        <nz-form-item>
            <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-select *ngIf="element.mode === 'multiple';else elseBlock" [ngModel]="selectedList"
                    [nzMode]="element.mode" [name]="element.key" [id]="element.key"
                    [nzPlaceHolder]="element.placeholder" nzAllowClear>
                    <nz-option [nzValue]="op.key" [nzLabel]="op.value" *ngFor="let op of element.options"></nz-option>
                </nz-select>
                <ng-template #elseBlock>
                    <nz-select [ngModel]="element.value" [name]="element.key" [id]="element.key"
                        [nzPlaceHolder]="element.placeholder" nzAllowClear>
                        <nz-option [nzValue]="op.key" [nzLabel]="op.value" *ngFor="let op of element.options">
                        </nz-option>
                    </nz-select>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <span class="dynamic-delete-button"><i class="fa fa-minus-circle"></i></span>
    </div>

</ng-container>