<ng-container [ngSwitch]="element.controlType">
    <nz-form-item *ngSwitchCase="'text'">
        <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
            <input nz-input [ngModel]="form[element.key]" [name]="element.key" [id]="element.key"
                [required]="element.required" [placeholder]="element.placeholder" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngSwitchCase="'number'">
        <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
            <nz-input-number [ngModel]="form[element.key]" [required]="element.required" [name]="element.key"
                [id]="element.key"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngSwitchCase="'radio'">
        <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
            <nz-radio-group [ngModel]="form[element.key]" [name]="element.key" [id]="element.key">
                <label nz-radio [nzValue]="op.key" *ngFor="let op of element.options">{{op.value}}</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngSwitchCase="'checkbox'">
        <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
            <nz-checkbox-wrapper style="width: 100%;">
                <div nz-row>
                    <div nz-col nzSpan="8" *ngFor="let item of element.options"><label nz-checkbox [nzValue]="item.key"
                            [ngModel]="form[element.key]">{{item.value}}</label></div>
                </div>
            </nz-checkbox-wrapper>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngSwitchCase="'textarea'">
        <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
            <textarea rows="4" nz-input [ngModel]="form[element.key]" [name]="element.key" [id]="element.key"
                [required]="element.required" [placeholder]="element.placeholder"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngSwitchCase="'select'">
        <nz-form-label [nzRequired]="element.required" [nzSpan]="5">{{element.label}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
            <nz-select [ngModel]="form[element.key]" [name]="element.key" [id]="element.key"
                [nzPlaceHolder]="element.placeholder" nzAllowClear>
                <nz-option [nzValue]="op.key" [nzLabel]="op.value" *ngFor="let op of element.options"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</ng-container>